<% @posts.reverse.each do |post| %>
  <div class="post">
    <div class="top">
      <div class="left">
        <%= image_tag @creator.avatar_image.attached? ? @creator.avatar_image : "profile.jpg" %>
        <div class="details">
          <div class="name">
            <%= @creator.first_name %> <%= @creator.last_name %>
          </div>
          <div class="username">
            @<%= @creator.username %>
          </div>
        </div>
        <div class="right">
          <div class="date">
          </div>
        </div>
      </div>
    </div>
    <div class="middle">
      <%= link_to dashboard_tutorial_path(post.id) do %>
        <% if post.content_image.attached? %>
          <% if post.content_image.content_type.include?("image")%>
            <%= image_tag url_for(post.content_image) %>
          <% else %>
            <%= video_tag url_for(post.content_image), controls: true, height: "500px", width: "500px"%>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="bottom">
      <div class="details-wrapper">
        <div class="buttons">
          <div class="left-button">
            <div class="like">
              <div class="like-button">
                <% if post.liked?(current_user) %>
                  <%= link_to post.likes.find_by(user_id: current_user.id), method: :delete do %>
                    <%= image_tag "like.png" %>
                  <% end %>
                <% else %>
                  <%= render 'layouts/like', like: @like, user_id: current_user.id, post_id: post.id %>
                <% end %>
              </div>
              <div class="count-like"></div>
            </div>
            <%= image_tag "comment.png" %>
            <%= image_tag "send.png" %>
          </div>
          <div class="right-button">
            <%= image_tag "save.png" %>
          </div>
        </div>
        <div class="down">
          <% if post.users_liked.blank? %>
          <% else %>
            <div class="liked-by">
              Liked by <span><%= pluralize(post.users_liked.count, "fan") %></span>
            </div>
          <% end %>
        </div>
        <div class="post-details">
          <span><%= post.title %></span> <%= post.description %>
        </div>
        <div class="date">
          <%= distance_of_time_in_words(DateTime.now, post.created_at) %> ago 
        </div>
      </div>
      <%= link_to dashboard_path(post.id), class: "comment" do %>
        <% if current_user.image.blank? && !current_user.avatar_image.attached? %>
          <%= image_tag "image.png" %>
        <% elsif current_user.avatar_image.attached?  %>
          <%= image_tag current_user.avatar_image %>
        <% else %>
          <%= image_tag current_user.image %>
        <% end %>
        <div class="add-comment">
          Add a comment...
        </div>
        <div class="post-button">
          Post
        </div>
      <% end %>
    </div>
  </div>
<% end %>
