<div class="dashboard">
  <header>
    <nav>
      <div class="side">
        <%= image_tag "logo.png" %>
        <ul>
          <li>Feed</li>
          <li>Creators</li>
          <li>Portfolio</li>
        </ul>
      </div>
      <div class="buttons">
        <input type="text" placeholder="Find a creator" class="search">
        <div class="dropdown">
          <button class="dropbtn">
          <% if current_user.image.blank? %>
            <%= image_tag "image.png" %>
            <% else %>
            <%= image_tag current_user.image %>
            <% end %>
          </button>
          <div class="dropdown-content">
            <a href="#">Be a creator</a>
            <% if current_user.provider.blank? %>
            <%= link_to "Settings", edit_user_registration_path %>
            <% else %>
            
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete%>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="left">
      <div class="category">Creators you follow</div>
      <div class="list">
        <% if @followings.blank? %>
          <div class="blank">Start following a creator now!</div>
        <% else %>
          <% @followings.each do |user| %>
            <div class="creator-list">
              <% if user.image.nil? %>
            <%= image_tag "image.png" %>
            <% else %>
            <%= image_tag user.image %>
            <% end %>
              <div class="details">
                <div class="name">
                  <%= user.first_name %> <%= user.last_name %>
                </div>
                <div class="username">
                  @<%= user.username %>
                </div>
              </div>
              <%= link_to "Unfollow", current_user.given_follows.find_by(followed_id: user.id), method: :delete %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="middle">
      <div class="category">Feed</div>
      <div class="feed">
      <% if @posts.blank? %>
          <div class="blank">No posts to show</div>
        <% else %>
        <% @posts.each do |post| %>
          <div class="post">
            <div class="user">
              <% if post.user.image.nil? %>
            <%= image_tag "image.png" %>
            <% else %>
            <%= image_tag post.user.image %>
            <% end %>
              <div class="details">
                <div class="name">
                  <%= post.user.first_name %>
                  <%= post.user.last_name %>
                </div>
                <div class="username">
                  @<%= post.user.username %>
                </div>
              </div>
            </div>
            <%= link_to dashboard_path(post), class: "image" do %>
              <%= image_tag post.content_image, class: "img" %>
            <% end %>
            <div class="others">
              <div class="like">
                <% if post.liked?(current_user) %>
                  <%= link_to post.likes.find_by(user_id: current_user.id), method: :delete do %>
                    <%= image_tag "like.png" %>
                    <% if post.users_liked.count == 1 %>
                    You
                    <% else %>
                    You and <%= pluralize(post.users_liked.count, "fan") %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= render 'layouts/like', like: @like, user_id: current_user.id, post_id: post.id %>
                  <%= pluralize(post.users_liked.count, "fan") %>
                <% end %>
              </div>
              <div class="post-date">
                <%= post.created_at.strftime("%b %m, %Y") %>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="right">
      <div class="category">Recently liked</div>
      <div class="liked-posts">
      <% if @liked_posts.blank? %>
          <div class="blank">No liked posts</div>
        <% else %>
        <% @liked_posts.reverse.each do |post| %>
          <div class="list">
            <div class="image">
              <%= image_tag post.content_image, class: "img" %>
            </div>
            <div class="user">
              <div class="name">
                <%= post.title %>
              </div>
              <div class="username">
                @<%= post.user.username %>
              </div>
            </div>
            <div class="others">
              <div class="like">
                <% if post.liked?(current_user) %>
                  <%= link_to post.likes.find_by(user_id: current_user.id), method: :delete do %>
                    <%= image_tag "like.png" %>
                  <% end %>
                <% else %>
                  <%= render 'layouts/like', like: @like, user_id: current_user.id, post_id: post.id %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
</div>
