<div class="dashboard">
  <header>
    <nav>
      <div class="left">
        <%= image_tag "logo.png", class: "logo" %>
        <ul>
          <li class="focus"><%= link_to "Feed", dashboard_index_path %></li>
          <li><%= link_to "Sketches", dashboard_sketches_path %></li>
          <li><%= link_to "Tutorials", dashboard_tutorials_path %></li>
          <li><%= link_to "Plans", plans_path %></li>
        </ul>
      </div>
      <div class="right">
        <div class="dropdown">
          <button class="dropbtn">
            <% if current_user.image.blank? && !current_user.avatar_image.attached? %>
              <%= image_tag "image.png" %>
            <% elsif current_user.avatar_image.attached?  %>
              <%= image_tag current_user.avatar_image %>
            <% else %>
              <%= image_tag current_user.image %>
            <% end %>
          </button>
          <div class="dropdown-content">
            <%= link_to "Settings", edit_user_registration_path %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete%>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="feed">
      <% if current_user.supporter? %>
        <%= render "dashboard/posts", scope: @supporter_posts %>
      <% elsif current_user.patron? %>
        <%= render "dashboard/posts", scope: @patron_posts %>
      <% else %>
        <%= render "dashboard/posts", scope: @posts %>
      <% end %>
    </div>
  </main>
</div>
<% if alert.present? %>
<div class="alert">
  <div class="container">
    <div class="message">
      <%= image_tag "alert.png" %>
      <%= alert %>
    </div>
    <%= link_to "Close", dashboard_index_path %>
  </div>
</div>
<% elsif notice.present? %>
<div class="notice">
  <div class="container">
    <div class="message">
      <%= image_tag "notice.png" %>
      <%= notice %>
    </div>
    <%= link_to "Close", dashboard_index_path %>
  </div>
</div>
<% end %>
