<div class="dashboard">
  <header>
    <nav>
      <div class="left">
        <%= image_tag "logo.png", class: "logo" %>
        <ul>
          <li><%= link_to "Feed", dashboard_index_path %></li>
          <li><%= link_to "Sketches", dashboard_patron_index_path %></li>
          <li  class="focus"><%= link_to "Tutorials", dashboard_benefactor_index_path %></li>
          <li><%= link_to "Plans", plans_path %></li>
        </ul>
      </div>
      <div class="right">
        <div class="dropdown">
          <button class="dropbtn">
            <% if current_user.image.blank? %>
              <%= image_tag "image.png" %>
            <% else %>
              <%= image_tag current_user.image %>
            <% end %>
          </button>
          <div class="dropdown-content">
            <%= link_to "Settings", edit_user_registration_path %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete%>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="feed">
      <%= render "dashboard/posts", scope: @posts %>
    </div>
  </main>
</div>
