<div class="show-post">
  <div class="overlay">
    <div class="container">
      <div class="nav">
        <%= link_to dashboard_sketches_path do %>
          <%= image_tag "show-back.png" %>
        <% end %>
        <%= image_tag "logo.png" %>
      </div>
      <main>
        <div class="left">
          <%= image_tag @post.content_image %>
          <div class="details">
            <span class="title">
              <%= @post.title %>
            </span>
            <%= @post.description %>
          </div>
          <div class="date">
            <%= distance_of_time_in_words(DateTime.now, @post.created_at) %> ago 
          </div>
        </div>
        <div class="right">
          <div class="creator">
            <%= image_tag @creator.avatar_image.attached? ? @creator.avatar_image : "profile.jpg" %>
            <div class="info">
              <div class="name">
                <%= @creator.first_name %> <%= @creator.last_name %>
              </div>
              <div class="username">
                @<%= @creator.username %>
              </div>
            </div>
          </div>
          <div class="comments">
            <% if @post.comments.blank? %>
              <div class="blank">No comments</div>
            <% else %>
              <% @post.comments.each do |comment| %>
                <div class="comment">
                   <% if comment.user.image.blank? && !comment.user.avatar_image.attached? %>
                    <%= image_tag "image.png" %>
                  <% elsif comment.user.avatar_image.attached?  %>
                    <%= image_tag comment.user.avatar_image %>
                  <% else %>
                    <%= image_tag comment.user.image %>
                  <% end %>
                  <div class="text">
                    <div class="username">
                      @<%= comment.user.username%>
                      <div class="date">
                        <%= comment.created_at.strftime("%D") %>
                      </div>
                    </div>
                    <div class="message">
                      <%= comment.message %>
                    </div>
                  </div>
                  <% if comment.user == current_user || current_user.admin? %>
                    <%= link_to post_comment_path(@post.id, comment.id), method: :delete do %>
                      <%= image_tag "trash.png", class: "trash" %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="like">
            <div class="like-button">
              <% if @post.liked?(current_user) %>
                <%= link_to @post.likes.find_by(user_id: current_user.id), method: :delete do %>
                  <%= image_tag "like.png" %>
                <% end %>
              <% else %>
                <%= render 'layouts/like', like: @like, user_id: current_user.id, post_id: @post.id %>
              <% end %>
            </div>
            <%= image_tag "comment.png" %>
            <%= image_tag "send.png" %>
          </div>
          <% if @post.users_liked.blank? %>
          <% else %>
            <div class="count-like">Liked by <span><%= pluralize(@post.users_liked.count, "fan") %></span></div>
          <% end %>
          <div class="add-comment">
            <% if current_user.image.blank? && !current_user.avatar_image.attached? %>
              <%= image_tag "image.png" %>
            <% elsif current_user.avatar_image.attached?  %>
              <%= image_tag current_user.avatar_image %>
            <% else %>
              <%= image_tag current_user.image %>
            <% end %>
            <%= render "comments/form", comment: Comment.new, post: @post, autofocus: true %>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
