<div class="posts">
  <header>
    <nav>
      <div class="left">
        <%= image_tag "logo.png", class: "logo" %>
        <ul>
          <li class="focus"><%= link_to "Home", dashboard_index_path %></li>
          <li><%= link_to "Fans", users_path %></li>
          <li><%= link_to "Transactions", subscribers_path %></li>
        </ul>
      </div>
      <div class="right">
        <div class="dropdown">
          <button class="dropbtn">
            <% if !current_user.avatar_image.attached? %>
              <%= image_tag "profile.jpg" %>
            <% else %>
              <%= image_tag current_user.avatar_image %>
            <% end %>
          </button>
          <div class="dropdown-content">
            <%= link_to "Settings", edit_user_registration_path %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete%>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="sticky">
      <div class="banner"></div>
      <div class="creator">
        <% if !current_user.avatar_image.attached? %>
          <%= image_tag "profile.jpg" %>
        <% else %>
          <%= image_tag current_user.avatar_image %>
        <% end %>
        <div class="name">
          <%= @creator.first_name %> <%= @creator.last_name %>
        </div>
        <div class="username">
          @<%= @creator.username %>
        </div>
        <div class="data">
          <div class="post-count count">
            <div class="number"><%= @total_posts %></div>
            <div class="label">Posts</div>
          </div>
          <div class="fan-count count">
            <div class="number"><%= @total_fans %></div>
            <div class="label">Fans</div>
          </div>
          <div class="like-count count">
            <div class="number"><%= @total_likes %></div>
            <div class="label">Likes</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="feed">
        <div class="title">
          <div class="name">Posts</div>
          <%= link_to "+ New", new_post_path %>
        </div>
        <% if @posts.blank? %>
        <div class="blank">No posts</div>
        <% else %>
        <div class="posts">
          <% @posts.reverse.each do |post| %>
            <%= link_to post, class: "post" do %>
            <% if post.content_image.attached? %>
              <% if post.content_image.content_type.include?("image")%>
                <%= image_tag url_for(post.content_image) %>
              <% else %>
                <%= video_tag url_for(post.content_image), controls: true, height: "320px", width: "320px"%>
              <% end %>
              <% end %>
              <div class="like-comment">
                <div class="like">
                  <%= image_tag "unlike.png" %>
                  <%= post.users_liked.count %>
                </div>
                <div class="comment">
                  <%= image_tag "comment.png" %>
                  <%= post.comments.count %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </main>
</div>
