<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@post.price, unit: "₱") %>
</p>

<%= image_tag @post.content_image %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', creator_index_path %>
