<div class="show-post">
  <div class="overlay">
    <div class="container">
      <div class="nav">
        <%= link_to posts_path do %>
          <%= image_tag "show-back.png" %>
        <% end %>
        <%= image_tag "logo.png" %>
      </div>
      <main>
        <div class="left">
          <% if @post.content_image.content_type.include?("image") %>
            <%= image_tag url_for(@post.content_image) %>
          <% else %>
            <%= video_tag url_for(@post.content_image), controls: true, height: "550px", width: "550px" %>
          <% end %>
          <div class="details">
            <span class="title">
              <%= @post.title %>
            </span>
            <%= @post.description %>
          </div>
          <div class="date">
            <%= distance_of_time_in_words(DateTime.now, @post.created_at) %> ago 
          </div>
        </div>
        <div class="right">
          <div class="creator">
            <% if !current_user.avatar_image.attached? %>
              <%= image_tag "profile.jpg" %>
            <% else %>
              <%= image_tag current_user.avatar_image %>
            <% end %>
            <div class="info">
              <div class="name">
                <%= current_user.first_name %> <%= current_user.last_name %>
              </div>
              <div class="username">
                @<%= current_user.username %>
              </div>
            </div>
          </div>
          <div class="comments">
            <% if @post.comments.blank? %>
              <div class="blank">No comments</div>
            <% else %>
              <% @post.comments.each do |comment| %>
                <div class="comment">
                  <%= image_tag comment.user.image %>
                  <div class="text">
                    <div class="username">
                      @<%= comment.user.username%>
                      <div class="date">
                        <%= comment.created_at.strftime("%D") %>
                      </div>
                    </div>
                    <div class="message">
                      <%= comment.message %>
                    </div>
                  </div>
                  <% if comment.user == current_user || current_user.admin? %>
                    <%= link_to post_comment_path(@post.id, comment.id), method: :delete do %>
                      <%= image_tag "trash.png", class: "trash" %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="like">
            <%= image_tag "unlike.png" %>
            <%= image_tag "comment.png" %>
            <%= image_tag "send.png" %>
          </div>
          <% if @post.users_liked.blank? %>
          <% else %>
            <div class="count-like">Liked by <span><%= pluralize(@post.users_liked.count, "fan") %></span></div>
          <% end %>
          <div class="add-comment">
            <% if !current_user.avatar_image.attached? %>
              <%= image_tag "profile.jpg" %>
            <% else %>
              <%= image_tag current_user.avatar_image %>
            <% end %>
            <%= render "comments/form", comment: Comment.new, post: @post, autofocus: true %>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
