<div class="form-wrap">
  <%= form_with model: PaymentInfo.new, url: payments_card_path, method: :post, class: "payment-form" do |form| %>
    <div class="header">
      <%= link_to plans_path do %>
        <%= image_tag "back.png" %>
      <% end %>
      <label class="payment-title">Credit Card Payment</label>
    </div>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    <div class="field">
      <%= form.label :card_number %>
      <%= form.text_field :card_number %>
    </div>
    <div class="card-details">
      <div class="field">
        <%= form.label :exp_month %>
        <%= form.number_field :exp_month %>
      </div>
      <div class="field">
        <%= form.label :exp_year %>
        <%= form.number_field :exp_year %>
      </div>
      <div class="field">
        <%= form.label :cvc %>
        <%= form.text_field :cvc %>
      </div>
    </div>
    <%= form.hidden_field :price, value: @price %>
    <%= form.hidden_field :plan, value: action_name %>
    <div class="actions">
      <%= form.submit "Complete Payment" %>
    </div>
  <% end %>
</div>
