<%= render "form" %>
<% if alert.present? %>
<div class="alert">
  <div class="container">
    <div class="message">
      <%= image_tag "alert.png" %>
      <%= alert %>
    </div>
    <%= link_to "Close", plans_benefactor_path %>
  </div>
</div>
<% elsif notice.present? %>
<div class="notice">
  <div class="container">
    <div class="message">
      <%= image_tag "notice.png" %>
      <%= notice %>
    </div>
    <%= link_to "Close", plans_benefactor_path %>
  </div>
</div>
<% end %>