<div class="settings">
  <div class="title">
    <%= link_to :back do %>
      <%= image_tag "back.png" %>
    <% end %>
    Account Settings
  </div>
  <div class="text">Here you can edit information about yourself.</div>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "6 characters minimum" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
  <div class="delete">
    <div class="title">Delete account</div>
    <div class="text">Note: This is irreversible. You may lose your data, including your likes and purchases. </div>
    <%= button_to "Continue to account deletion", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>